/****************************** Start Global ******************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
   --white-color:hsl(0, 0%, 98%);
   --gray:hsl(0, 0%, 41%);
   --black:hsl(0, 0%, 8%);
   --main-padding:15px;
   --destop-hero-img:"/images/image-hero-desktop.png"
}
body {
   font-family: 'Epilogue', sans-serif;
   background-color: var(--white-color);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--gray);
    font-size: 14px;
}
button {
    color: var(--gray);
    outline: none;
    border:none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    border: solid 1px transparent;
    border-radius: 5px;
    width: 100px;
}
button:hover {
    border-color: var(--black);
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000085;
    z-index: 3;
    display: none;
}
.open {
    visibility: visible !important;
    opacity: 1 !important;
}
.show {
    display: block !important;
}
.expand {
    height: 145px !important;
}
/****************************** End Global ******************************/
/****************************** Start Header ****************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
    position: relative;
}
.header .logo {
   margin:  20px 0px 0px var(--main-padding);
}
.links-content  {
    position: absolute;
    top:0;
    right: 0;
    z-index: 4;
    padding: 10px 20px;
    width:215px;
    min-height: 100vh;
    background-color: var(--white-color);
    visibility: hidden;
    opacity: 0;
    transition:.4s;
}
.close {
    text-align: right;
    margin-bottom: 20px;
}
.main-menu {
    margin: 15px 0;
    cursor: pointer;
}
.main-menu .sub > img {
    margin-left: 10px ;
}
.sub:hover > img ,
.sub:hover > a 
{
    color: var(--black);
}
.sub-menu-links {
    transition: height .3s;
    height: 0;
    overflow: hidden;
}
.sub-menu-links .link {
    margin-bottom: 15px;
    padding-left: 20px;
}
.sub-menu-links .link:first-child {
    margin-top: 10px;
}
.butns {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    cursor: pointer;
    margin:  20px 15px 0px var(--main-padding);
    text-align: right;
}
/***************************** End Header    *****************************/
/***************************** Start Content *****************************/
.content .content-img >img:first-child {
    max-width: 100%;
}
.content .content-img >img:last-child {
   display: none;
}
.content .content-data {
    text-align: center;
}
.content h1 {
    padding-inline: var(--main-padding);
    font-size: 30px;
    margin: 25px 0;
}
.content p {
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
    padding-inline: var(--main-padding);
    line-height: 1.5;
    margin-bottom: 25px;
}
.content > div > button {
    background-color: var(--black);
    color: var(--white-color);
    width: 110px;
    border-radius: 20px;
    margin-bottom: 25px;
}
/********************** End Content *************************/
/*********************** Start footer ***********************/
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--main-padding);
    height: 45px;
}
.footer-container > img {
    width: 75px;
    cursor: pointer;
}
.footer-container > img:nth-child(2) {
    width: 50px;
}
/*********************** End footer **********************/



